/* common.css */
/* common.css文件的作用: */
/* 1. 把一些公共的样式属性进行二次封装 */

.float-left {
    float: left;
}

/* 命名规范:  m: margin  l: left   40: 值 */
.ml-40 {
    margin-left: 40px;
}


.fs-14{
    font-size: 14px;
}

.align-Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-fix::after{
    content:'.';
    display: block;
    width:0;
    height:0;
    clear: both;
    visibility: hidden;
}