/* 在css中,目前来说,包含5大类的功能 */
/* 第一个,是初始化默认样式 */

/* 不能用*号，性能问题，此处只可以写标签名 */
body {
    margin: 0;
}

input {
    outline: none;
    border: none;
}

::-webkit-scrollbar{
    width:0;
    height:0;
}

/* 第二种:公共样式,就算你换一个项目,也可以用到这种样式,叫做全局的公共样式 */
.scale-1-2 {
    transform: scale(1.2);
}

.mr-5 {
    margin-right: 5px;
}

.align-center {
    display: flex;
    align-items: center;
}

/* 第三种: 项目相关,他只能在当前项目中使用,这种公共的样式,叫做 项目中的公共样式 */
.icon {
    width: 20px;
    height: 20px;
}

/* 声明人的可视区范围 */
/* 所以不应该包含其它的样式，或者布局问题 */
.wrap {
    width: 100%;
    padding:0 80px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn{
    padding:6px 12px;
    border-radius: 4px;
    color:#fff;
    display: inline-block;
    cursor:pointer;
    transition: all .7s;
}



/* 第四种:变量的声明 */
/* 根元素 */
/* 声明变量的方法：  --开头加变量名 */
/* :root 如果你把他想成是js的话，他相当于window */
/* js:  var headerHeight = '60px' */
/* css 为了和js不冲突，所以以 --开头 */
:root {
    --header-height: 60px;
}